<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\logs\nlog-internal.log">

  <!--<variable name="relativeLogPath" value =".\log\log.txt"/>-->

  <targets>
    <!--<target xsi:type="ColoredConsole" name="console" layout="${time} ${level} (${logger}) ${identity} ${mdc:item=basedir} [free:${mdc:item=freespace}] ${message}" />-->

    <!--<target name="file"
            xsi:type="File"
            fileName="${basedir}/log/AtlasVmiWsProxy.log"
            encoding="utf-8"
            layout="Time: ${time} Loggername: (${logger}) LogLevel:${level} Date: ${longdate} ThreadId: ${threadid} ProcessId: ${processid} Callsite: ${callsite}${newline}  ${message}${newline}  ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}"
            archiveFileName="${basedir}/log/AtlasVmiWsProxyLogArchive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"/>-->


    <target name="jsonToMemory" xsi:type="Memory">
      <layout xsi:type="JsonLayout">
        <attribute name="Level" layout="${level}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="DateTime" layout="${longdate}"/>
        <attribute name="TimeStamp" layout="${ticks}"/>
        <attribute name="CallStack" layout="${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=10}"/>
        <attribute name="ThreadId" layout="${threadid}"/>
        <attribute name="ProcessId" layout="${processid}"/>
        <attribute name="Source" layout="${callsite}"/>
        <attribute name="Id" layout="${activityid}"/>
      </layout>
    </target>

  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="file"/>-->
    <logger name="*" minlevel="Trace" writeTo="jsonToMemory"/>
  </rules>


</nlog>
